<header>
    <div class="nav">
        <ul>
            <li><a href="/api/stories">Stories Index</a></li>
            <li><a href="/api/people">People Index</a></li>
            <li><a href="/api/people/new">New Person</a></li>
            <li><a href="/api/stories/new">New Story</a></li>
            <!-- <li><a href="/api/pdfs">PDFs </a></li> -->
        </ul>
    </div>
            <!-- if user is not logged in display login in link
            else if( user is logged in ) display logout -->

    <br>
    
</header>