<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Upload File</title>
</head>
<body>
    <%- include('../header.ejs') %> 
    <h1>New Person</h1>

    <form action="/api/people/new" method="POST"  >
        <!-- enctype="multipart/form-data" -->
        
        <label>Person Name:</label><input type="text" name="personName" value=""></input> <br>
        <label>Person Age:</label><input type="number" name="personAge" value=""></input> <br>
        <label>Add Person</label><input type="submit" value="submit"></input> <br>
    </form>
</body>
</html>